# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\misir-github\task-shop-knexjs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
